<div class="span-6 last sidebar">
	<div class="sidebar_liner">
		<div class="sidebar_panel user_info">
			<div class="span-2">
				<%= image_tag @seller.avatar.url(:thumb_69), :class => 'avatar' %>
			</div>
			<div class="span-3">
				<h4><%= @seller.store_name %></h4><!-- store name -->
				<h6><%= @seller.name %></h6><!-- personal name-->
				<p class="bottom"><%= @seller.location %></p><!-- location -->
			</div>
		</div>
		<ul class="store_nav">
			<li><%= link_to "home", seller_url(:subdomain => @seller.subdomain), :class => (@profile_section == 'home' ? 'selected' : nil) %></li>
		  <li><%= link_to "products (#{@seller.products.active.count})", seller_url(:subdomain => @seller.subdomain, :profile_section => :products), :class => (@profile_section == 'products' ? 'selected' : nil) %></li>
			<% if @profile_section == 'products' %>
				<ul class="store_sub_nav">
					<li><%= link_to 'all', seller_url(:subdomain => @seller.subdomain, :profile_section => :products), :class => (@collection_id ? nil : 'selected') %></li>
					<% for collection in @seller.collections.active %>
						<li><%= link_to collection.name, seller_url(:subdomain => @seller.subdomain, :profile_section => :products, :collection_id => collection.id), :class => (@collection_id.to_i == collection.id ? 'selected' : nil) %></li>
					<% end %>
				</ul>
			<% end %>
		  <li><%= link_to BlogPost::CLASS_DISPLAY_NAME, seller_url(:subdomain => @seller.subdomain, :profile_section => :blog), :class => (@profile_section == 'blog' ? 'selected' : nil) %></li>
		  <li><%= link_to "notes", seller_url(:subdomain => @seller.subdomain, :profile_section => :notes), :class => (@profile_section == 'notes' ? 'selected' : nil) %></li>
		  <li><%= link_to "about", seller_url(:subdomain => @seller.subdomain, :profile_section => :about), :class => (@profile_section == 'about' ? 'selected' : nil) %></li>
		</ul>
		<div class="sidebar_panel">
			<%= link_to @seller.store_domain_name, seller_url(:subdomain => @seller.subdomain) %>
		</div>
		<div class="sidebar_panel store_description">
			<%= RedCloth.new(truncate(@seller.store_description,250,link_to("<div class='sidebar_more'>more &raquo;</div>", seller_url(:subdomain => @seller.subdomain, :profile_section => :about)))).to_html unless @seller.store_description.blank? %>
		</div>
		<% if @seller.faq %>
		<div class="sidebar_panel">			
			<%= link_to 'Store FAQ &amp; Policies', faq_url(@seller.faq) %>
		</div>
		<% end %>
		<div class="sidebar_panel">
			<% if logged_in? %>
				<% if @this_user.sellers.include? @seller %>
					You're following this seller.
				<% else %>
					<%= link_to 'Follow this seller', manage_store_follows_url + "?seller_id=#{@seller.id}", :method => :post %>
				<% end %>
			<% else %>
				<%= link_to 'Log in to follow this seller', seller_url(:subdomain => @seller.subdomain) + '?log_me_in=true' %>
			<% end %>
		</div>
		<div class="sidebar_panel bottom">
			<h4>Have a question?</h4>
			<p class="bottom"><%= link_to "Send #{@seller.store_name} a message", new_manage_message_url(:message => {:recipient_id => @seller.id}) %></p>
		</div>
	</div><!--end .sidebar_liner -->
</div><!--end .sidebar -->