<%= render :partial => 'products' %>
<div class="span-18 last">

	<div class="span-18 panel">
		<div class="panel_header">
			<h3><%= BlogPost::CLASS_DISPLAY_NAME %> <%= link_to 'more', seller_url(:id => @seller.id, :profile_section => :blog) %></h3>
		</div>
		<!-- post [begin]-->
		<% for blog_post in @seller.blog_posts.seller.published.most_recent_3 %>
		<div class="span-18 last post">
			<div class="span-18 last">
					<h3><%= link_to blog_post.title, seller_url(:id => @seller.id, :profile_section => :blog, :blog_post_id => blog_post.id) %></h3>
					<p class="post_date">Feb 27, 2009<%= blog_post.created_at.strftime('%b %d, %Y') %><br/>
					(<%= blog_post.comments.published.enabled.count %>)</p><!--number is the count of the number of responses-->
			</div><!--post_header [end]-->
		</div>
		<% end %>
		<!--post [end]-->
	</div>

	<div class="span-18 last panel">		
		<div class="panel_header">
			<h3>Notes <%= link_to 'more', seller_url(:id => @seller.id, :profile_section => 'notes') %></h3>
		</div>
		<% for note in @seller.notes.featured.published.enabled %>
			<%= render :partial => 'sellers/note', :object => note %>
		<% end %>
		<p><%= link_to 'Add a note', seller_url(:id => @seller.id, :profile_section => 'notes') %></p>
	</div>	
	
</div>