<div class="container">
	<div class="span-12">
		<p>If you have used our favors at your event we would LOVE for you to share your pictures so we could post them on our blog! Just email them to me at <a href="mailto:adernick@gmail.com">adernick@gmail.com</a>.</p>
		<p>Proud member of Etsy Wedding Team!! http://etsyweddingteam.blogspot.com for all of your wedding resources!</p>
		<p>Welcome to our shop. We hope you find something that you like! Little Birdie Boutique is a mother-daughter team dedicated to offering unique and stylish event favors and gifts. If you are interested in large quantity orders please allow us time to lovingly make them. All favors come completely assembled unless specified otherwise so you dont have to worry about doing any work!</p>
		<p>Enjoy!</p>
		<p>Ashley and Patty</p>
	</div>
	<div class="span-12 last">
		<div class="seller_info_wrapper">
			<div class="seller_info_icon">
				<%= image_tag @seller.avatar.url(:thumb_65), :class => 'avatar' %>
			</div>
			<div><p>Artist: <%= link_to @seller.store_name, seller_url(:id => @seller.id) %><br/>
				<%= link_to "Home", seller_url(:id => @seller.id), :class => (@profile_section ? nil : 'selected') %> | 
				<%= link_to "Products (#{@seller.products.active.count})", seller_url(:id => @seller.id, :profile_section => :products), :class => (@profile_section == 'products' ? 'selected' : nil) %> | 
				<%= link_to "Blog", seller_url(:id => @seller.id, :profile_section => :blog), :class => (@profile_section == 'blog' ? 'selected' : nil) %> | 
				<%= link_to "Notes", seller_url(:id => @seller.id, :profile_section => :notes), :class => (@profile_section == 'notes' ? 'selected' : nil) %> | 
				<a href="#">About</a>
			</p>
			<p>Products: <%= @seller.products.active.count %><br/>
			Joined: 05/13/2007<br/>
			Location: <%= @seller.location %><br/>
			Items: <% for collection in @seller.collections.active %>
				<%= link_to collection.name, seller_url(:id => @seller.id, :profile_section => :products, :collection_id => collection.id), :class => (@collection_id.to_i == collection.id ? 'selected' : nil) %>, 
			<% end %>
			<%= link_to 'See All', seller_url(:id => @seller.id, :profile_section => :products), :class => (@collection_id ? nil : 'selected') %>
			<br/>
			Featured on: <a href="#">apartment therapy</a>, <a href="#">kaboodle</a>, <a href="#">london telegraph</a>, <a href="#">style hive</a><br/>
			<%= @seller.store_url if @seller.subdomain%></p>
		</div>
	</div>
</div>

<div class="span-24">
	<h3>Products <%= link_to 'more', seller_url(:id => @seller.id, :profile_section => :products) %></h3>
	<% for product in @seller.products.active.most_recent_6 %>
		<div class="span-6 product_panel">
			<div class="halfpadbox">
				<% if product.product_images.any? and product.product_images.first.image.exists? %>
					<%= image_tag product.product_images.first.image.url(:thumb_216) %>
				<% else %>
					<h3><%= product.name %></h3>
				<% end %>
				<% for tag in product.tags %>
				<h6><%= tag.name %></h6>
				<% end %>
			</div>
		</div>
	<% end %>
	<hr/>
</div>

<div class="span-24">
	<div class="span-12">
		<div class="panel_header">
			<h3>Notes
			<%= link_to 'more', seller_url(:id => @seller.id, :profile_section => 'notes') %></h3>
		</div>
		<% for note in @seller.notes.featured.published.enabled %>
			<%= render :partial => 'sellers/note', :object => note %>
		<% end %>
		<p><%= link_to 'Add a note', seller_url(:id => @seller.id, :profile_section => 'notes') %>
	</div>
	<div class="span-12 last">
		<h3>Blog
			<%= link_to 'more', seller_url(:id => @seller.id, :profile_section => :blog) %></h3>
		</h3>
		<!-- post [begin]-->
		<% for blog_post in @seller.blog_posts.seller.published.most_recent_3 %>
		<div class="span-12 last post">
			<div class="span-12 last">
					<h3><%= link_to blog_post.title, seller_url(:id => @seller.id, :profile_section => :blog, :blog_post_id => blog_post.id) %></h3>
					<p class="post_date">Feb 27, 2009<%= blog_post.created_at.strftime('%b %d, %Y') %><br/>
					(<%= blog_post.comments.published.enabled.count %>)</p><!--number is the count of the number of responses-->
			</div><!--post_header [end]-->
		</div>
		<% end %>
		<!--post [end]-->
	</div>
</div>