<% for product in products %>
	<div class="span-6 product_panel<% if ((@products.index product) % width) == (width - 1) %> last<% end %>">
		<div class="halfpadbox">
			
			<% if product.product_visuals.any? %>
			<% 	product_visual = product.product_visuals.first %>
			<% 	case product_visual.class.name
				 	when 'ProductImage' %>
				<%= link_to image_tag(product_visual.image.url(:thumb_product_panel)), product_url(product), :class => 'product' %>
			<% 	when 'ProductVideo' %>
				<div style="width: 216px; height: 216px;">
					<%= link_to image_tag(product_visual.image.url(:thumb_product_panel)), product_url(product), :class => 'product' %>
				</div>
			<% end %>
				<h4 class="product_panel_product_name"><%= link_to truncate(product.name,28), product_url(product) %></h4>
				<h6 class="product_panel_seller_name"><%= link_to truncate(product.seller.store_name,28), seller_url(:id => product.seller.id) %></h6>
			<% else %>
				<h4><%= product.seller.name %></h4>
				<h6><%= product.category.name %></h6>
			<% end %>		
			
		</div>
	</div>
<% end %>