<div class="container">
	
	<div class="span-18">
		
		<div class="span-18 last panel_group product_header">
				<h1 class="product_name"><%= @product.name %></h1>
				<!--<h3 class="store_name"><%#= @product.seller.store_name %></h3>-->
		</div><!-- end .panel_group -->
		
		<div class="span-18 last panel_group">
			
			<div class="span-12 product_visuals">
				
				<div class="product_visuals_wrapper">
				<% for product_visual	in @product.product_visuals %>
					<div <% if @product.product_visuals.index(product_visual) != 0 %>style="display:none;"<% end %> id="product_visual_<%= product_visual.id %>" data-binding="image_swap_target">
						<div class="visual_asset">
							<table>
								<td>
							<% 	case product_visual.class.name
								 	when 'ProductImage' %>
								<%= link_to image_tag(product_visual.image.url(:large)), product_visual.image.url, :target => 'blank' %>
							<% 	when 'ProductVideo' %>
								<%= product_visual.embed_html(463) %>
							<% 	end %>
								</td>
							</table>
						</div>
						<% unless product_visual.caption.blank? %>
							<div class="visual_caption">
								<%= product_visual.caption %>
							</div><!-- end .image_caption -->
						<% end %>
					</div>
				<% end %>
				</div><!-- end .product_visuals_wrapper -->
			
				<% if @product.product_visuals.length > 1 %>
					<div class="span-12 last product_thumbs">
						<% if @product.product_visuals.length > 6 %>
							<div class="thumb_arrow_wrapper">
								<div class="thumb_left" id="thumb_left_arrow" style="display:none;">
									<a onclick="moveThumbs('left');">&laquo;</a>
								</div>
							</div><!-- end .thumb_arrow_wrapper -->
						<% end %>
						<div style="height:69px;position:relative;width:432px;margin-right:0px;float:left;margin-left:2px;">
							<div id="thumbnail_mask" style="width:432px;height:69px;overflow:hidden;position:absolute;">
							<div id="thumbnail_container" style="width:<%= @product.product_visuals.length * 72 %>px;height: 69px;position:absolute;left:0px;top:0px">
							<% for product_visual in (@product.product_visuals) %>
								<%= image_tag(product_visual.image.url(:thumb_65), :'data-binding' => "image_swap_trigger", :'data-image_swap_target' => "product_visual_#{product_visual.id}") %>
							<% end %>
							</div>
							</div>
						</div><!-- end .span-10 -->
						<% if @product.product_visuals.length > 6 %>
							<div class="thumb_arrow_wrapper">
								<div class="thumb_right" id="thumb_right_arrow">
									<a onclick="moveThumbs('right');">&raquo;</a>
								</div>
							</div><!-- end .thumb_arrow_wrapper -->
						<% end %>
					</div><!-- end .product_thumbs -->
				<% end %>
			</div>
			
			<div class="span-6 last">
				
				<div class="span-6 product_commerce">
						<% if @product.product_options.active.in_stock.length > 1 %>
							<%= select_tag 'product_option_id', options_for_select(@product.product_options.active.in_stock.map{|po| [po.name,po.id]},@product.product_options.active.in_stock.first.id), :class => 'product_option_select' %><br/>
							<div class="span-6">
								<span id="price_display" class="price"></span>
							</div><!-- end .span-6 -->
							<% javascript_tag do %>
								$(document).ready(function(){
									<% for option in @product.product_options.active.in_stock %>
										$('#product_option_id').find("[value='<%= option.id %>']").data("price","<%= option.price.format %>")
									<% end %>
									$('#product_option_id').change(function(e){
										$('#price_display').html($(e.target).find(":selected").data("price"));
										$('#product_option_id_field').val($(e.target).val());
									});
									$('#product_option_id').change();
								});
							<% end %>
						<% else %>
							<% display_option_name = (@product.product_options.active.length > 1) %>
							<% for option in @product.product_options.active.in_stock %>
									<span id="price_display" class="price"><% if display_option_name %><%= option.name %><% end %> <%= option.price.format %></span><br/>
							<% end %>
						<% end %>
						<% if @product.product_options.active.in_stock.any? %>
						<div class="product_commerce_add">
							<% form_tag update_cart_url, :method => :put do -%>
								<%= hidden_field_tag 'product_option_id', @product.product_options.first.id, :id => 'product_option_id_field' %>
								<%= image_submit_tag("market/add_to_cart.png", :'data-binding' => "image_state_normal", :'data-group' => "add_to_cart") + image_submit_tag("market/add_to_cart_hover.png", :'data-binding' => "image_state_hover", :'data-group' => "add_to_cart") + image_submit_tag("market/add_to_cart_active.png", :'data-binding' => "image_state_active", :'data-group' => "add_to_cart") %>					
							<% end %>
						</div><!-- end .product_commerce_add -->
						<% end %>
				</div><!-- end .product_commerce -->
				
				
				<!-- only show the out_of_stock_panel div if there are 1 or more out of stock options -->
				<% if @product.product_options.active.out_of_stock.any? %>
				<div class="span-6 last out_of_stock_panel">
					<div class="out_of_stock_panel_liner">
						
						<!-- if at least 1 option is in stock, show these toggles -->
						<% if @product.product_options.active.in_stock.any? %>
						<div ui_binding="expander" ui_state="contracted" ui_id="out_of_stock" class="out_of_stock_header">
							Some options are out of stock. <a ui_binding="expander" ui_action="expand" ui_id="out_of_stock">(info)</a>
						</div>
						<div ui_binding="expander" ui_state="expanded" ui_id="out_of_stock" class="out_of_stock_header">
							Out of stock options:	<a ui_binding="expander" ui_action="contract" ui_id="out_of_stock">(hide)</a>
						</div>						
						<!-- else, there are no in stock options and all options are out of stock, show this larger lable/header -->
						<% else %>
						<div class="out_of_stock_header_all">
							<div class="header_all_text">out of stock</div>
							<div class="header_all_list_label">options:</div>
						</div>
						<% end %>
						<!-- end if -->
					
						<div ui_binding="expander" ui_state="expanded" ui_id="out_of_stock">
							<% display_option_name = (@product.product_options.active.length > 1) %>
							<% for option in @product.product_options.active.out_of_stock %>
								<div class="out_of_stock_item"><% if display_option_name %><%= option.name %> &ndash; <% end %><%= option.price.format %></div>
							<% end %>
						</div>
		
					</div><!-- end .out_of_stock_panel_liner -->
				</div><!-- end .out_of_stock_panel -->
				<% end %>
				
	
				<div class="span-6 last favorite_panel">
					<div class="favorite_panel_liner">
					<% if logged_in? %>
					<!-- if logged in -->
						<% if @this_user.favorite_products.map{|fp| fp.id}.include? @product.id %>
							This product's on your favorites.<br/>
							<a href="#favorites" onclick="$('#favorites_tab').click();" >See who else likes it.</a>
						<% else %>
							<%= link_to 'Add to your favorites.', product_favorites_url + "?product_id=#{@product.id}", :method => :post %>
						<% end %>
					<% else %>
						<% session[:favorites] ||= [] %>
						<% if session[:favorites].include? @product.id %>
							<a href="#">You appreciate it.</a>
							<a href="#favorites" onclick="$('#favorites_tab').click();">see who else likes is</a>
						<% else %>
							<%= link_to 'Appreciate it.', product_favorites_url + "?product_id=#{@product.id}", :method => :post %>
							or<br/>
							<%= link_to 'Log in to add to your favorites.', product_url(@product) + '?log_me_in=true' %>
						<% end %>
					<% end %>
					</div><!-- end .favorite_panel_liner -->
				</div><!-- end .favorite_panel -->
				
				<div class="span-6 last share_panel">
					<div class="share_panel_liner">
               <div ui_binding="expander" ui_state="contracted" ui_id="share_this" class="share_this_header">
                   <a ui_binding="expander" ui_action="expand" ui_id="share_this">Share this.</a>
               </div>
               <div ui_binding="expander" ui_state="expanded" ui_id="share_this" class="share_this_header">
                   Share this. <a ui_binding="expander" ui_action="contract" ui_id="share_this">(close)</a>
               </div>

               <div ui_binding="expander" ui_state="expanded" ui_id="share_this">
                   <% for sharing_link in [:facebook,:twitter,:delicious,:stumbleupon,:kaboodle] do %>
                       <div class="share_link_wrapper"><%= link_to SharingLinks::ICONS[sharing_link].blank? ? sharing_link : image_tag(SharingLinks::ICONS[sharing_link]), SharingLinks::URLS[sharing_link] + url_encode(request.url) %>
                       <%= link_to SharingLinks::TEXT[sharing_link], SharingLinks::URLS[sharing_link] + url_encode(request.url) %>
                       </div><!--end .share_link_wrapper -->
                   <% end %>
               </div>

        	</div><!--end .share_panel_liner -->
	      </div><!-- end .share_panel -->
				
				<% if @product.shippable %>
					<% unless @product.shipping_note.blank? %>
						<div class="span-6 last shipping_note">
							<div class="shipping_note_liner">
								<h6>Shipping Note</h6>
								<p><%= @product.shipping_note %></p>
							</div><!-- end .shipping_note_liner -->
						</div><!-- end .shipping_note -->
					<% end %>
				
					<div class="span-6 last shipping_destinations">
						<div class="shipping_destinations_liner">
							<h6>Ships To</h6>
							<p>	<%= @product.shipping_class.everywhere_else ? 'Everywhere' : @product.shipping_class.shipping_destinations.map{|sd| sd.country.name }.join(', ') %></p>
						</div><!-- end .shipping_destinations -->
					<% else %>
						<div class="cc_unit_1 last shipping_note">
							<div class="shipping_note_liner">
								digital delivery
								<div class="help_hover_wrapper">
									<a data-binding="hover_help" data-help-div="restock_field_help">(?)</a>
									<div id="restock_field_help" class="help_hover" style="display:none;"> 
										<div class="help_hover_content">
										This is a downloadable product. It won't be shipped to you, but we still need a street address at checkout.
										</div>
										<%= image_tag 'market/help_hover_nipple.png' %>
									</div><!-- end .help_hover -->
								</div><!-- end .help_hover_wrapper -->
							</div><!--end .shipping_note_liner -->
						</div>
					<% end %>
					</div><!--end .shipping_destinations_liner -->
			</div><!-- end .span-6 -->
		</div><!-- end .panel_group -->
		
		<div class="span-18 last product_page_tabs">

			<a class="selected" ui_binding="tab" ui_set="product_info" ui_tab="description" href="#descripton">Description</a>
			<% unless @product.specs.blank? %>
				<a ui_binding="tab" ui_set="product_info" ui_tab="specs" href="#specs">Specs</a>
			<% end %>
			<% if @product.product_assets.any? %>
				<a ui_binding="tab" ui_set="product_info" ui_tab="assets" href="#assets">Downloads</a>
			<% end %>
			<% if @product.faq and @product.faq.active %>
				<a ui_binding="tab" ui_set="product_info" ui_tab="faq" href="#faq">FAQ</a>
			<% end %>
			<a ui_binding="tab"  ui_set="product_info" ui_tab="comments" href="#comments">Comments (<%= @product.comments.published.enabled.count %>)</a>
			<% if @product.product_favorites.any? %>
				<a ui_binding="tab" ui_set="product_info" ui_tab="favorites" id="favorites_tab" href="#favorites">Favorites (<%= @product.product_favorites.count %>)</a>
			<% end %>
		</div><!-- end .product_page_tabs -->
		
		<!-- start description -->
		<div class="span-18 last product_tabbed_contents" id="description" ui_binding="tab_content" ui_set="product_info" >
			<div class="product_tabbed_contents_wrapper product_description">		
						<%= RedCloth.new(@product.description).to_html %>
			</div><!-- end .product_tabbed_contents_wrapper -->
		</div><!-- end .product_tabbed_contents -->
		<!-- end description -->
		
		<% unless @product.specs.blank? %>
			<!-- start specs -->
			<div class="span-18 last product_tabbed_contents" id="specs" ui_binding="tab_content" ui_set="product_info"  style="display:none;">
				<div class="product_tabbed_contents_wrapper product_specs">
					<h3>Specifications</h3>
					<%= textilize(@product.specs) %>
				</div><!-- end .product_tabbed_contents_wrapper -->
			</div><!-- end .product_tabbed_contents -->
			<!-- end specs -->
		<% end %>
		
		<% if @product.product_assets.any? %>
			<!-- start faq -->
			<div class="span-18 last product_tabbed_contents" id="assets" ui_binding="tab_content" ui_set="product_info"  style="display:none;">
				<div class="product_tabbed_contents_wrapper product_assets">
					<% for product_asset in @product.product_assets %>
						<%= link_to product_asset.file_file_name, product_asset.file.url %>
					<% end %>
				</div><!-- end .product_tabbed_contents_wrapper -->
			</div><!-- end .product_tabbed_contents -->
			<!-- end faq -->
		<% end %>
		
		<% if @product.faq and @product.faq.active %>
			<!-- start faq -->
			<div class="span-18 last product_tabbed_contents" id="faq" ui_binding="tab_content" ui_set="product_info"  style="display:none;">
				<div class="product_tabbed_contents_wrapper product_faq">
					<%= render :partial => 'faqs/show', :object => @product.faq %>
				</div><!-- end .product_tabbed_contents_wrapper -->
			</div><!-- end .product_tabbed_contents -->
			<!-- end faq -->
		<% end %>
		
		<!-- start comments -->
		<div class="span-18 last product_tabbed_contents" id="comments" ui_binding="tab_content" ui_set="product_info" style="display:none;">
			<div class="product_tabbed_contents_wrapper product_comments">
				<div id="featured_comment_list" class="span-15 last">
					<% if @product.comments.published.enabled.featured.any? %>
						<h3 class="featured_comments_header">Featured Comments</h3>
					<% end %>
					<% for comment in @product.comments.published.enabled.featured %>
						<%= render :partial => 'manage/comments/element_container', :object => comment, :locals => {:feature_section => true} %>
					<% end %>
				</div>
					<div id="comment_list" class="span-15 last">
						<% if @product.comments.published.enabled.featured.any? %>
							<h3 class="all_comments_header">All Comments</h3>
						<% end %>
						<% for comment in @product.comments.published.enabled %>
							<%= render :partial => 'manage/comments/element_container', :object => comment %>
						<% end %>
					</div><!-- end #comment_list -->
					<% if logged_in? %>
						<div id="comment_new" class="span-15 last comments_wrapper">
							<%= render :partial => "manage/comments/new", :object => Comment.new(:commentable_id => @product.id, :commentable_type => 'Product') %>
						</div><!-- end .comments_wrapper -->
					<% else %>
						<div class="span-15 last">
							<%= render :partial => 'comments/new', :locals => {:commentable => @product} %>
						</div><!-- end .span-15 -->
					<% end %>
			</div><!-- end .product_tabbed_contents_wrapper -->
		</div><!-- end .product_tabbed_contents -->
		<!-- end comments -->
		
		<% if @product.product_favorites.any? %>
			<!-- start favorites -->
			<div class="span-18 last product_tabbed_contents" id="favorites" ui_binding="tab_content" ui_set="product_info"  style="display:none;">
				<div class="product_tabbed_contents_wrapper product_favorites">
					<div id="favorites_list">
						<% for product_favorite in @product.product_favorites.with_account %>
							<% if product_favorite.user %>
								<div class="span-2 avatar"><%= image_tag product_favorite.user.avatar(:thumb_65) %></div>
							<% end %>
						<% end %>
						<% if @product.product_favorites.anonymous.any? %>
							<div class="favorites_anonymous">
								<%= ( @product.product_favorites.with_account.any? ) ? 'and' : '' %> <%= @product.product_favorites.anonymous.count %> <%= ( @product.product_favorites.with_account.any? ) ? 'other' : '' %> <%= (@product.product_favorites.anonymous.count > 1) ? 'people' : 'person' %> added this to their favorites.
							</div>
						<% end %>
					</div>
				</div><!-- end .product_tabbed_contents_wrapper -->
			</div><!-- end .product_tabbed_contents -->
			<!-- end favorites -->
		<% end %>
	</div><!-- end .span-18 -->
	
	<div class="span-6 last sidebar_wrapper_product">
		<%= render :partial => 'sellers/sidebar' %>
	</div><!--end sidebar_wrapper_product-->
	
	<div class="span-6 last panel tags_panel">
		<h3>Tags</h3>
		<%= @product.tags.public.map{|tag| link_to tag.name, products_url(:tag => tag.name)}.join(' ') if @product.tags.public.any?%>
	</div><!-- end .tags_panel -->
	
	<% if @product.market_collections.published.show_icon.any? or @product.market_collections_from_tags_icon.any? %>
		<div class="span-6 last panel collections_panel">		
			<% for market_collection in (@product.market_collections.published.show_icon + @product.market_collections_from_tags_icon).uniq %>
				<% if market_collection.icon.exists? %>
					<%= link_to image_tag(market_collection.icon.url(:full_width)), market_collection_url(market_collection) %>
				<% end %>
			<% end %>
		</div><!-- end .collections_panel -->
	<% end %>

</div>
<% javascript_tag do %>
var thumb_count = <%= @product.product_visuals.count %>;
var thumb_views = Math.floor(thumb_count / 6);
var thumb_position = 0;
function moveThumbs(direction){
	if(direction == 'left'){
		thumb_position -= 1;
	} else {
		thumb_position += 1;
	}
	if (thumb_position == 0) {
		$('#thumb_left_arrow').hide();
	} else if (thumb_position == thumb_views) {
		$('#thumb_right_arrow').hide();
	}
	if (thumb_position != 0) {
		$('#thumb_left_arrow').show();
	} else if (thumb_position != thumb_views) {
		$('#thumb_right_arrow').show();
	}
	left_position = thumb_position * 432;
	left_position = -left_position;
	left_position_css = left_position + 'px';
	$('#thumbnail_container').animate({left:left_position_css},330);
}
$(document).ready(function(){
	bindImageSwaps();
	bindTabs();
	bindExpanders();
	});
<% end %>