<!-- public layout footer -->
<div class="container footer">
	<% if logged_in? %>
		<h4><%= link_to @apply_to_sell_link_text, new_manage_message_url(:message => {:recipient_id => User.find_by_login('applications').id}), :rel => 'nofollow' %></h4>
	<% else %>
		<h4><%= @want_to_sell_not_logged_in_text %> <%= link_to "Login", new_manage_message_url(:message => {:recipient_id => User.find_by_login('applications').id}), :rel => 'nofollow' %> or <a href="/signup?application_requested=true">sign up</a> to apply if you’d like to sell on Felt &amp; Wire Shop.</h4>
	<% end %>
</div>

<div class="container footer">
	<div class="span-12">
		<h2><%= link_to 'Shop By Designer', '/sellers' %></h2>
		<h2><%= link_to 'See What&rsquo;s New', blog_posts_url(:blog_category_name => 'all') %></h2>
		<h2><%= link_to 'About Felt &amp; Wire Shop', faqs_url %></h2>
	</div>
	<div class="span-6">
		<h3>More Felt &amp; Wire</h3>
		<p><%= link_to 'Felt &amp; Wire Blog', "http://www.feltandwire.com/" %></p>
		<h3>Contact</h3>
		<p><%= link_to 'email press and general inquiries', "mailto:info@feltandwireshop.com" %><br/>
		<%= link_to 'email support', "mailto:#{MARKET_HELP_EMAIL}" %></p>
		<p>
			<%= link_to (image_tag 'market/twitter-icon.png'), "http://Twitter.com/feltandwire", :target => '_blank' %> <%= link_to (image_tag 'market/Facebook-icon.png'), "http://www.facebook.com/pages/Felt-Wire/114831518562349", :target => '_blank' %>
		</p>	
	</div>
	<div class="span-6 last">
		<h3>Updates</h3>
		<p>Our newsletter is awesome.<br/>
			Subscribe and get the latest news.<br/>
		</p>
			<form action="http://mohawkpaper.createsend.com/t/r/s/juldty/" method="post">
				<p><input type="text" name="cm-juldty-juldty" id="juldty-juldty" class="subscribe_input" value="YOUR EMAIL ADDRESS"/> <input type="submit" value="subscribe" />
				</p>
			</form>
		<p><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffeltandwireshop.com&amp;layout=button_count&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="margin-top:5px;border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe></p>
	</div>
	<div class="span-18 footer_lastline">
		<p><%= link_to (image_tag 'market/mohawk_logo_footer.png'), "http://mohawkpaper.com" %> 465 Saratoga Street | Cohoes, NY 12047 | 1 800 the mill <%= image_tag 'market/mohawk_rss_icon.png' %> RSS Feed | Privacy Policy</p>
	</div><!-- end .span-18 -->
	<div class="span-6 last footer_lastline">
		<p class="curated_commerce">powered by <a href="http://wearesupercorp.com">Curated Commerce</a></p>
	</div>
</div><!-- end container -->