<!-- public layout footer -->
<div class="container footer">
	<% if logged_in? %>
		<h4><%= link_to @apply_to_sell_link_text, new_manage_message_url(:message => {:recipient_id => User.find_by_login('applications').id}) %></h4>
	<% else %>
		<h4><%= @want_to_sell_not_logged_in_text %> <%= link_to "Login", new_manage_message_url(:message => {:recipient_id => User.find_by_login('applications').id}) %> or <a href="/signup?application_requested=true">sign up</a> to apply.</h4>
	<% end %>
</div>

<div class="container footer">
	<div class="span-12">
		<h2>Our Designers</h2>
		<p><%= link_to 'See a list of all featured designers.', '/sellers' %><br/>
			<%= link_to 'Stay up to date with our designer-authored news feed.', blog_posts_url %>
		</p>
		<h2>About Felt &amp; Wire Shop</h2>
		<p><%= link_to 'Learn more about Felt &amp; Wire Shop and how to become a seller.', faqs_url %></p>
	</div>
	<div class="span-6">
		<h3>More Felt &amp; Wire</h3>
		<p><%= link_to 'Felt &amp; Wire Blog', "http://www.feltandwire.com/" %></p>
		<h3>Contact</h3>
		<p><%= link_to 'email press and general inquiries', "mailto:info@feltandwireshop.com" %><br/>
		<%= link_to 'email support', "mailto:#{MARKET_HELP_EMAIL}" %></p>
	</div>
	<div class="span-6 last">
		<h3>Updates</h3>
		<p>Our newsletter is awesome.<br/>
			Subscribe and get the latest news.<br/>
		</p>
			<form action="http://mohawkpaper.createsend.com/t/r/s/juldty/" method="post">
				<p><input type="text" name="cm-juldty-juldty" id="juldty-juldty" class="subscribe_input" value="YOUR EMAIL ADDRESS"/> <input type="submit" value="subscribe" />
				</p>
			</form>
	</div>
	<div class="span-24 footer_lastline">
		<p><%= link_to (image_tag 'market/mohawk_logo_footer.png'), "http://mohawkpaper.com" %> 465 Saratoga Street | Cohoes, NY 12047 | 1 800 the mill <%= image_tag 'market/mohawk_rss_icon.png' %> RSS Feed | Privacy Policy</p>
	</div>
</div><!-- end container -->