<div class="container">
	
	<div class="header">
		<div class="market_main_nav">
			<ul class="categories">
				<% for category in Category.top_level %>
					<li<% if @category and @category == category %> class="selected"<% end %>><a href="<%= home_url(:category_id => category.id) %>"<% if @category and @category == category %> class="selected"<% end %>><%= category.name %></a></li>
				<% end %>
			</ul>
			<ul class="main_nav_not_cat">
				<li><%= link_to (image_tag('cart.png')), cart_url %> <%= link_to "cart (#{@cart.order_items.length})", cart_url %></li>
				<li>
					<input type="text" value="search" />
					<% if logged_in? %>
						<%= link_to 'my dashboard', dashboard_url %> <br/> <a href="/logout">Logout</a>
					<% else %>
						<a href="/login">Login</a>
						or <a href="/signup">sign up for free</a>.
					<% end %>
				</li>
			</ul>
		</div><!-- end .market_main_nav -->

		<div class="span-24 market_subcab_nav">
			<ul>
				<li>all</li>
				<li>posters</li>
				<li>prints</li>
				<li>decor</li>
				<li>tabletop</li>
				<li>custom</li>
				<li>diy</li>
			</ul>
		</div><!-- end .market_subcab_nav -->
		
		<div class="span-24">
			<%= link_to (image_tag 'market/felt_and_wire_masthead.png'), '/' %>
		</div><!--end .span-24 -->
		
	</div><!-- end .header -->
	
</div><!-- end .container -->