<div class="container">
	
	<div class="header">
		<div class="market_main_nav">
			
			<% for category in Category.top_level %>
				<div class="main_category <% if @category and @category == category %> selected<% end %>"><a href="<%= home_url(:category_id => category.id) %>"<% if @category and @category == category %> class="selected"<% end %>><%= category.name %></a></div>
			<% end %>
			
				<div class="main_cart">
					<%= link_to (image_tag('cart.png')), cart_url %> <%= link_to "Cart (#{@cart.order_items.length})", cart_url %>
				</div>
				<div class="main_search_account_wrapper">
					<div class="main_search">
						<input type="text" value="SEARCH" class="search_input"/>
					</div>
					<div class="main_account">
						<% if logged_in? %>
							<%= link_to 'My Dashboard', dashboard_url %> <br/> <a href="/logout">Logout</a>
						<% else %>
							<a href="/login">Login</a>
							or <a href="/signup">sign up for free</a>.
						<% end %>
					</div>
				</div><!-- end .main_search_account_wrapper -->
		</div><!-- end .market_main_nav -->


		<div class="sub_category_bar">
		<% if @category %>
			<ul class="sub_category_nav">
				<% for sub_category in @category.children %>
					<li<% if @sub_category and @sub_category == sub_category %> class="selected"<% end %>><a href="<%= home_url(:category_id => sub_category.id) %>"<% if @sub_category and @sub_category == sub_category %> class="selected"<% end %>><%= sub_category.name %></a></li>
				<% end %>
			</ul>
		<% end %>
		</div>
		


		
		<div class="span-24">
			<%#= link_to (image_tag 'market/felt_and_wire_masthead.png'), '/' %>
		</div><!--end .span-24 -->
		
	</div><!-- end .header -->
	
</div><!-- end .container -->