<div class="container">
	
	<div class="header">
		<div class="market_main_nav">
			
			<% for category in Category.top_level %>
				<% if category.show_empty or category.children_products.any? %>
				<div class="main_category <% if @category and @category == category %> selected<% end %>"><a href="<%= categories_url(:category_name => category.to_pretty_url) %>"<% if @category and @category == category %> class="selected"<% end %>><%= category.name %></a>
				</div>
				<% end %>
			<% end %>
			
				<div class="main_cart">
					<%= link_to (image_tag('cart.png')), cart_url %> <%= link_to "Cart (#{@cart.order_items.length})", cart_url, :rel => 'nofollow' %>
				</div>
				
				<div class="main_search_account_wrapper">
					<div class="main_search">
						<% form_tag '/search', :method => :post do %>
							<%= text_field_tag :search_terms, @search_terms, :class => 'search_input' %>
							<%= submit_tag 'go' %>
						<% end %>
					</div>
					<div class="main_account">
						<% if logged_in? %>
							<%= link_to 'My Dashboard', dashboard_url %> <br/> <a href="/logout" rel="nofollow">Logout</a>
						<% else %>
							<a href="/login" rel="nofollow">Login</a>
							or <a href="/signup" rel="nofollow">sign up for free</a>.
						<% end %>
					</div>
				</div><!-- end .main_search_account_wrapper -->
				
		</div><!-- end .market_main_nav -->

		<div class="sub_category_bar">
		<% if @category %>
			<ul class="sub_category_nav">
				<li><a href="<%= categories_url(:category_name => @category.to_pretty_url) %>"<% unless @sub_category %> class="selected"<% end %>>all</a></li>
				<% for sub_category in @category.children %>
					<% if sub_category.show_empty or sub_category.products.any? %>
						<li<% if @sub_category and @sub_category == sub_category %> class="selected"<% end %>><a href="<%= subcategories_url(:category_name => @category.to_pretty_url, :subcategory_name => sub_category.to_pretty_url) %>"<% if @sub_category and @sub_category == sub_category %> class="selected"<% end %>><%= sub_category.name %></a></li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
		</div><!-- end .sub_category_bar -->
		
		<div class="span-18">
			<%= link_to (image_tag 'market/masthead-small.png'), '/' unless (controller_name == 'sellers' and action_name != 'index')%>
		</div>
		
		
		<% unless (controller_name == 'sellers' and action_name != 'index') %>
		<div class="span-6 masthead last">
		<h2><%= link_to 'See All Designers', '/sellers' %></h2>
		<h2><%= link_to 'Browse The Blog', blog_posts_url(:blog_category_name => 'all') %></h2>
		<h2 class="last" id="reveal"><a onclick="$('#subscribe').toggle(); return false;" href="">Get Our Newsletter</a></h2>
		<form id="subscribe" action="http://mohawkpaper.createsend.com/t/r/s/juldty/" method="post">
			<p><input type="text" name="cm-juldty-juldty" id="juldty-juldty" class="subscribe_input_header" value="EMAIL ADDRESS"/> <input type="submit" value="subscribe" />
			</p>
		</form>
		
  	</div>
  	 <% end %> 
		
	</div><!-- end .header -->
	
	<% javascript_tag do %>
	$(function() {
      $('input[type=text]').focus(function() {
        $(this).val('')
        });
  });
	<% end %>
	
</div><!-- end .container -->