<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Curated Commerce: <%= MARKET_NAME %>: <%= @page_title %></title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" /> 
	<link rel="stylesheet" href="/stylesheets/cc-master.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/market/market_styles.css" type="text/css" media="screen" />
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'application.js' %>
	<%= javascript_include_tag 'ajax_bindings.js' %>
	<%= javascript_include_tag 'ui_bindings.js' %>
	<%= javascript_include_tag 'jquery.corner.js' %>
</head>
<body>
	<!-- PUBLIC SELLERS LAYOUT -->

		<% unless flash[:notice].blank? %>
		<div id="flash_notice" class="flash_notice flash_positive">
			<%= flash[:notice] %>
		</div>
		<% end %>

		<%= render :partial => 'layouts/header' %>
		
		<div class="container">
		<%= yield %>
		</div><!-- end .container -->

		<%= render :partial => 'layouts/footer' %>
		
<% javascript_tag do %>
	$(document).ready(function(){
		setTimeout("$('#flash_notice').fadeOut('slow');",2000);
	});
<% end %>

</body>
</html>